$border-color_green: #8beb01;
$border-color_blue: #50ffdf;
$border-color_purple: #4f00f7;

.games {
  &__container {
    display: grid;
    row-gap: 30px;
    padding-top: 50px;
  }

  &__new {
    padding-bottom: 65px;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  &__title {
    margin-right: 25px;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.1em;
    color: #ffffff;
  }

  &__link-view-all {
    justify-self: end;

    font-weight: 500;
    font-size: 18px;
    color: #87e389;

    white-space: nowrap;

    transition: $transition;

    &:hover {
      text-shadow: 1px 1px 2px #87e389;
    }

    &-arrow {
      margin-top: 1px;
      margin-left: 12px;
    }
  }

  &__menu {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 10px;
    align-items: center;

    &-order1 {
      grid-template-columns: auto 1fr;

      & > .games__smalls {
        order: 1;
      }
    }
  }

  &__smalls {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 8px;
    justify-content: space-around;
    align-content: space-around;
  }

  &__small {
    position: relative;

    &:hover {
      & > .games__small-img-wrapper {
        filter: brightness(50%);
      }

      & > .games__small-name,
      & > .games__small-btns {
        z-index: 1;
      }
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &-wrapper {
        width: 100%;
        height: 188px;
        overflow: hidden;
        border-radius: 11%;
      }
    }

    &-name {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);

      font-weight: 800;
      font-size: 20px;
      color: #fff;

      z-index: -1;
    }

    &-btns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      position: absolute;
      bottom: 5%;

      width: 100%;

      z-index: -1;
    }

    &-btn {
      display: grid;
      justify-content: center;
      align-items: center;

      padding: 10px;
      width: 80%;

      text-align: center;
      vertical-align: middle;
      border-radius: 10% / 30%;

      font-weight: 800;
      font-size: 20px;
      line-height: 1em;
      color: #fff;

      transition: $transition;

      &_yellow {
        background-color: #d97711;
        color: #4d1e0a;

        &:hover {
          filter: brightness(130%);
          box-shadow: 0 0 10px #45c2b0, inset 0 0 10px #45c2b0;
        }
      }

      &_blue {
        border: 3px solid #45c2b0;
        color: #fff;

        &:hover {
          box-shadow: inset 0 0 10px 2px #45c2b0;
        }
      }
    }
  }

  &__big {
    position: relative;

    overflow: hidden;
    border-radius: 5%;

    width: 490px;
    height: 380px;

    &_green {
      border: 5px solid $border-color_green;
      transition: $transition;

      &:hover {
        box-shadow: 0px 0px 14px $border-color_green;
      }
    }

    &_blue {
      border: 5px solid $border-color_blue;
      transition: $transition;

      &:hover {
        box-shadow: 0px 0px 14px $border-color_blue;
      }
    }

    &_purple {
      border: 5px solid $border-color_purple;
      transition: $transition;

      &:hover {
        box-shadow: 0px 0px 14px $border-color_purple;
      }
    }

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-63px, -20px);
  }

  %ribbon-after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    left: -7px;
    border-left: 7px solid transparent;
  }

  &__ribbon {
    position: absolute;

    font-weight: 500;
    font-size: 14px;
    color: #ffffff;

    background: linear-gradient(to left, #1d1269 0%, #f8463f 27.07%);

    &_big {
      top: 25px;
      right: 0px;

      padding: 10px 16px 10px 5px;

      height: 34px;

      &:after {
        @extend %ribbon-after;
        border-top: 17px solid #f8463f;
        border-bottom: 17px solid #f8463f;
      }
    }

    &_small {
      top: 20px;
      right: 0px;

      padding: 5px 16px 5px 5px;

      height: 24px;

      &:after {
        @extend %ribbon-after;
        border-top: 12px solid #f8463f;
        border-bottom: 12px solid #f8463f;
      }
    }
  }
}

@media (max-width: 1550px) {
  .games__menu {
    grid-template-columns: 1fr small-big-size(300, 485, 1024, 1550);

    &-order1 {
      grid-template-columns: small-big-size(300, 485, 1024, 1550) 1fr;

      & > .games__smalls {
        order: 1;
      }
    }
  }
  .games__smalls {
    grid-template-columns: repeat(auto-fill, small-big-size(150, 244, 1024, 1550));
  }
  .games__big {
    width: small-big-size(300, 485, 1024, 1550); // 0,778904665
    height: small-big-size(232, 378, 1024, 1550);
  }
  .games__small-img-wrapper {
    // width: small-big-size(150, 244, 1024, 1550); // 0,752
    height: small-big-size(113, 183, 1024, 1550);
  }
  .games__small-btn {
    padding: small-big-size(5, 10, 1024, 1550);
    font-size: small-big-size(15, 20, 1024, 1550);
  }
}

@media (max-width: 1023px) {
  .games__menu {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .games__big {
    justify-self: center;
    width: small-big-size(300, 490, 320, 970);
    height: small-big-size(232, 380, 320, 970);
  }

  .games__smalls {
    order: 1;
    grid-template-columns: repeat(auto-fill, small-big-size(150, 200, 320, 1023)); // 0,752
  }

  .games__small-img-wrapper {
    width: 100%;
    height: small-big-size(113, 173, 320, 1023);
  }

  .games__small-btn {
    padding: 5px;
    font-size: 15px;
  }
}

@media (max-width: 360px) {
  .games__container {
    padding-left: 0;
    padding-right: 0;
  }

  .games__header {
    padding: 0 10px;
  }

  .games__smalls {
    width: 100%;
    order: 1;
    grid-template-columns: repeat(auto-fill, 150px); // 0,752
  }

  .games__small-img-wrapper {
    width: 150px;
    height: 113px;
  }
}
