.promo {
  padding-top: 50px;

  &__container {
    display: grid;
    row-gap: 30px;
    grid-template-columns: 585px 355px minmax(535px, 1fr);
  }

  &__title {
    margin-bottom: 14px;
    text-align: center;

    font-weight: bold;
    font-size: 18px;
    color: #fff;
  }
}

@media (max-width: 1500px) {
  .promo__container {
    grid-template-columns: 585px 355px;
    justify-content: space-around;
  }
}

@media (max-width: 995px) {
  .promo__container {
  grid-template-columns: 1fr;
  justify-items: center;
  }
}