@charset "UTF-8";

/* /Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1em;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* /Обнуление*/

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: Roboto, Arial, sans-serif;
}

.container {
  max-width: 1525px;
  margin: auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__text {
  margin-left: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}

.logo__text_size_small {
  font-size: 20px;
}

.logo__text_size_big {
  font-size: 30px;
}

.logo__img_size_small {
  width: 40px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 30px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1em;
}

.btn__text {
  margin-left: 8px;
}

.btn_color_green {
  background: #87E389;
  color: #000000;
}

.btn_color_transparent {
  border: 1px solid #FFFFFF;
  background: transparent;
  color: #FFFFFF;
}

.header {
  background-color: #121423;
  padding: 16px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  margin-left: 25px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.header__link:first-of-type {
  margin-left: 43px;
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__btn:last-child {
  margin-left: 15px;
}

.screen2 {
  background-color: #222C42;
  background-image: url("../img/crystals.png");
  background-repeat: no-repeat;
  background-position: top -90px left 53px;
}

.screen2__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../img/crystals1.png");
  background-repeat: no-repeat;
  background-position: bottom 23px left 225px;
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 0;
  min-width: 320px;
}

.auth__title {
  margin-bottom: 13px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.auth__text {
  margin-bottom: 10px;
  font-weight: normal;
  line-height: 14px;
  font-size: 12px;
  color: #8C91BA;
}

.auth__link {
  font-weight: normal;
  font-size: 12px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #A2A5C1;
}

.auth__link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.auth__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
}

.auth__social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.auth__social-btn:not(:first-child) {
  margin-left: 15px;
}

.auth__pass-currency-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.auth__pass-wrapper {
  width: 216px;
  position: relative;
}

.auth__pass-img {
  position: absolute;
  top: 6px;
  right: 11px;
  height: 18px;
  background-color: transparent;
}

.auth__promocode-wrapper {
  -ms-flex-item-align: start;
      align-self: start;
  position: relative;
  width: 156px;
}

.auth__promocode-info {
  position: absolute;
  top: 9px;
  right: 5px;
  width: 18px;
  height: 15px;
  font-weight: normal;
  font-size: 12px;
  color: #454D95;
}

.auth__promocode-info:hover {
  cursor: pointer;
}

.auth__input {
  padding: 9px 14px 6px;
  margin-bottom: 13px;
  width: 100%;
  background: #E1E6EA;
  border: 1px solid #32448C;
  border-radius: 17px;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #7379A5;
}

.auth__input::-webkit-input-placeholder {
  color: #7379A5;
}

.auth__input::-moz-placeholder {
  color: #7379A5;
}

.auth__input:-ms-input-placeholder {
  color: #7379A5;
}

.auth__input::-ms-input-placeholder {
  color: #7379A5;
}

.auth__input::placeholder {
  color: #7379A5;
}

.auth__input-currency {
  width: 91px;
  padding-left: 9px;
  border-radius: 7px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("/img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: top 13px right 9px;
}

.auth__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 15px;
  height: 15px;
}

.auth__checkbox:checked + label::before {
  border-color: #0048B1;
  background-color: #0048B1;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.auth__checkbox-wrapper {
  -ms-flex-item-align: start;
      align-self: start;
  height: 15px;
  margin-bottom: 13px;
}

.auth__checkbox-label {
  vertical-align: middle;
}

.auth__checkbox-label::before {
  content: '';
  display: inline-block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-right: 9px;
  width: 15px;
  height: 15px;
  background: #E1E5EA;
  background-position: center center;
  border: 1px solid #32448C;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
}

.auth__btn {
  margin: 10px;
}

.frame {
  margin-left: 160px;
  position: relative;
  -webkit-box-shadow: -50px 0px 50px #091024;
          box-shadow: -50px 0px 50px #091024;
}

.frame__gradient {
  position: absolute;
  width: 207px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(-84.31%, #000000), color-stop(81.86%, rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(left, #000000 -84.31%, rgba(0, 0, 0, 0) 81.86%);
  background: linear-gradient(90deg, #000000 -84.31%, rgba(0, 0, 0, 0) 81.86%);
  top: 0;
}

.frame__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 975px;
  top: 60px;
  left: 70px;
}

.frame__arrows-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 21px;
}

.frame__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 1px solid #595959;
}

.frame__text {
  margin-bottom: 21px;
  font-size: 14px;
  color: #fff;
}

.frame__text_green {
  font-weight: 500;
  text-transform: uppercase;
  color: #87E389;
}

.frame__bonus {
  margin-bottom: 30px;
  position: relative;
  font-weight: bold;
  font-size: 36px;
  line-height: 38px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.frame__bonus::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -13px;
  width: 94px;
  border: 1px solid #fff;
}

.frame__btn {
  margin-right: auto;
}

.frame__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 135px;
}

.frame__slider-line {
  width: 24.175%;
  height: 5px;
  background: rgba(72, 80, 143, 0.7);
  border-radius: 50px;
}

.frame__slider-line:not(:first-child) {
  margin-left: 1.1%;
}

.webp .screen2{ background-image: url(../img/crystals.webp); }

.webp .screen2__container{ background-image: url(../img/crystals1.webp); }