@charset "UTF-8";

/* /Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1em;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* /Обнуление*/

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: Roboto, Arial, sans-serif;
}

.main {
  background-image: -o-linear-gradient(160.32deg, #121726 57.75%, #222C42 90.78%);
  background-image: linear-gradient(289.68deg, #121726 57.75%, #222C42 90.78%);
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  max-width: 1525px;
  margin: auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__text {
  margin-left: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}

.logo__text_size_small {
  font-size: 20px;
}

.logo__text_size_big {
  font-size: 30px;
}

.logo__img_size_small {
  width: 40px;
}

.logo__img_size_big {
  width: 50px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 30px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1em;
}

.btn__text {
  margin-left: 8px;
}

.btn_color_green {
  background: #87E389;
  color: #000000;
}

.btn_color_transparent {
  border: 1px solid #FFFFFF;
  background: transparent;
  color: #FFFFFF;
}

.header {
  background-color: #121423;
  padding: 16px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search-btn {
  background-color: transparent;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 43px;
}

.header__link {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.header__link:not(:first-child) {
  margin-left: 25px;
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__btn:last-child {
  margin-left: 15px;
}

.screen2 {
  background-image: url("../img/crystals.png");
  background-repeat: no-repeat;
  background-position: top -90px left 53px;
}

.screen2__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../img/crystals1.png");
  background-repeat: no-repeat;
  background-position: bottom 23px left 225px;
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 0;
  min-width: 320px;
}

.auth__title {
  margin-bottom: 13px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.auth__text {
  margin-bottom: 10px;
  font-weight: normal;
  line-height: 14px;
  font-size: 12px;
  color: #8C91BA;
}

.auth__link {
  font-weight: normal;
  font-size: 12px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #A2A5C1;
}

.auth__link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.auth__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
}

.auth__social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.auth__social-btn:not(:first-child) {
  margin-left: 15px;
}

.auth__pass-currency-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.auth__pass-wrapper {
  width: 216px;
  position: relative;
}

.auth__pass-btn {
  position: absolute;
  top: 6px;
  right: 11px;
  height: 18px;
  background-color: transparent;
}

.auth__promocode-wrapper {
  -ms-flex-item-align: start;
      align-self: start;
  position: relative;
  width: 156px;
}

.auth__promocode-info {
  position: absolute;
  top: 9px;
  right: 5px;
  width: 18px;
  height: 15px;
  font-weight: normal;
  font-size: 12px;
  color: #454D95;
}

.auth__promocode-info:hover {
  cursor: pointer;
}

.auth__input {
  padding: 9px 14px 6px;
  margin-bottom: 13px;
  width: 100%;
  background: #E1E6EA;
  border: 1px solid #32448C;
  border-radius: 17px;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #7379A5;
}

.auth__input::-webkit-input-placeholder {
  color: #7379A5;
}

.auth__input::-moz-placeholder {
  color: #7379A5;
}

.auth__input:-ms-input-placeholder {
  color: #7379A5;
}

.auth__input::-ms-input-placeholder {
  color: #7379A5;
}

.auth__input::placeholder {
  color: #7379A5;
}

.auth__input-currency {
  width: 91px;
  padding-left: 9px;
  border-radius: 7px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("/img/select-arrow-auth.svg");
  background-repeat: no-repeat;
  background-position: top 13px right 9px;
}

.auth__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 15px;
  height: 15px;
}

.auth__checkbox:checked + label::before {
  border-color: #0048B1;
  background-color: #0048B1;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.auth__checkbox-wrapper {
  -ms-flex-item-align: start;
      align-self: start;
  height: 15px;
  margin-bottom: 13px;
}

.auth__checkbox-label {
  vertical-align: middle;
}

.auth__checkbox-label::before {
  content: '';
  display: inline-block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-right: 9px;
  width: 15px;
  height: 15px;
  background: #E1E5EA;
  background-position: center center;
  border: 1px solid #32448C;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
}

.auth__btn {
  margin: 10px;
}

.frame {
  margin-left: 160px;
  position: relative;
  -webkit-box-shadow: -50px 0px 50px #091024;
          box-shadow: -50px 0px 50px #091024;
}

.frame__gradient {
  position: absolute;
  width: 207px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(-84.31%, #000000), color-stop(81.86%, rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(left, #000000 -84.31%, rgba(0, 0, 0, 0) 81.86%);
  background: linear-gradient(90deg, #000000 -84.31%, rgba(0, 0, 0, 0) 81.86%);
  top: 0;
}

.frame__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 975px;
  top: 60px;
  left: 70px;
}

.frame__arrows-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 21px;
}

.frame__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
  width: 33px;
  height: 33px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #595959;
}

.frame__text {
  margin-bottom: 21px;
  font-size: 14px;
  color: #fff;
}

.frame__text_green {
  font-weight: 500;
  text-transform: uppercase;
  color: #87E389;
}

.frame__bonus {
  margin-bottom: 30px;
  position: relative;
  font-weight: bold;
  font-size: 36px;
  line-height: 38px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.frame__bonus::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -13px;
  width: 94px;
  border: 1px solid #fff;
}

.frame__btn {
  margin-right: auto;
}

.frame__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 135px;
}

.frame__slider-line {
  width: 24.175%;
  height: 5px;
  position: relative;
  background: rgba(72, 80, 143, 0.7);
  border-radius: 50px;
}

.frame__slider-line:not(:first-child) {
  margin-left: 1.1%;
}

.frame__slider-line-timer {
  position: absolute;
  width: 0;
  height: 5px;
  border-radius: 5px;
  background-color: #87E389;
}

#frame-timer1 {
  -webkit-animation: timer 10s linear 1s;
          animation: timer 10s linear 1s;
}

@-webkit-keyframes timer {
  100% {
    width: 100%;
  }
}

@keyframes timer {
  100% {
    width: 100%;
  }
}

.categories {
  background-color: #121423;
}

.categories__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 71.5%;
}

.categories__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.categories__category-icon {
  margin-right: 12px;
}

.categories__category-text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}

.categories__select {
  padding-right: 15px;
  height: 24px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #121423;
  background-image: url("/img/select-arrow-categories.svg");
  background-repeat: no-repeat;
  background-position: top 10px right 0;
}

.categories__search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 15px 0 15px 47px;
  position: relative;
}

.categories__search-input {
  padding-left: 9px;
  height: 31px;
  width: 100%;
  background-color: transparent;
  border: 1px solid #898989;
  border-radius: 15px;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
}

.categories__search-input::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: #fff;
}

.categories__search-input::-moz-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: #fff;
}

.categories__search-input:-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: #fff;
}

.categories__search-input::-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  color: #fff;
}

.categories__search-input::placeholder {
  font-weight: normal;
  font-size: 14px;
  color: #fff;
}

.categories__search-btn {
  position: absolute;
  top: 6px;
  right: 16px;
  background-color: transparent;
}

.providers {
  background-color: #121423;
}

.providers .providers__item,
.providers .providers__item-all,
.providers .providers__select {
  padding: 5px 17px;
  border-radius: 13px;
  font-weight: normal;
  font-size: 13px;
}

.providers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.providers__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 17px 0;
}

.providers__link {
  color: #8187AD;
}

.providers__link-all {
  color: #fff;
}

.providers__item {
  margin-right: 15px;
  border: 1px solid #282F4B;
}

.providers__item-all {
  margin-right: 15px;
  border: 1px solid #D73649;
}

.providers__select {
  width: 83px;
  border: 1px solid #FFFFFF;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.28);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.28);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #121423;
  background-image: url("/img/select-arrow-categories.svg");
  background-repeat: no-repeat;
  background-position: top 10px right 11px;
  font-family: Roboto;
  color: #fff;
  line-height: 1em;
}

.games__container {
  padding-top: 50px;
}

.games__new {
  padding-bottom: 65px;
}

.games__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.games__title {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}

.games__link-view-all {
  font-weight: 500;
  font-size: 18px;
  color: #87E389;
}

.games__link-view-all-arrow {
  margin-top: 1px;
  margin-left: 12px;
}

.games__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.games__smalls {
  width: 68%;
}

.games__smalls-order1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.games__smalls-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 10px;
}

.games__smalls-line-order1 {
  padding-left: 10px;
  padding-right: 0;
}

.games__smalls-line:first-child {
  margin-bottom: 8px;
}

.games__small {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  position: relative;
}

.games__small:not(:first-child) {
  margin-left: 8px;
}

.games__small-img {
  width: 100%;
  border-radius: 11%;
}

.games__big {
  width: 32%;
  position: relative;
}

.games__big-img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.games__big-img_green {
  border: 5px solid #8BEB01;
  -webkit-box-shadow: 0px 0px 14px #8BEB01;
          box-shadow: 0px 0px 14px #8BEB01;
}

.games__big-img_blue {
  border: 5px solid #50FFE0;
  -webkit-box-shadow: 0px 0px 14px #50FFDF;
          box-shadow: 0px 0px 14px #50FFDF;
}

.games__big-img_purple {
  border: 5px solid #4F00F7;
  -webkit-box-shadow: 0px 0px 14px #4F00F7;
          box-shadow: 0px 0px 14px #4F00F7;
}

.games__play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-63px, -20px);
      -ms-transform: translate(-63px, -20px);
          transform: translate(-63px, -20px);
  padding: 13px 30px;
  width: 126px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background: #87E389;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
  border-radius: 100px;
}

.games .games__ribbon_big:after,
.games .games__ribbon_small:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  left: -7px;
  border-left: 7px solid transparent;
}

.games__ribbon {
  position: absolute;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, right top, left top, from(#1D1269), color-stop(27.07%, #F8463F));
  background: -o-linear-gradient(right, #1D1269 0%, #F8463F 27.07%);
  background: linear-gradient(to left, #1D1269 0%, #F8463F 27.07%);
}

.games__ribbon_big {
  top: 25px;
  right: 5px;
  padding: 10px 16px 10px 5px;
  height: 34px;
}

.games__ribbon_big:after {
  border-top: 17px solid #F8463F;
  border-bottom: 17px solid #F8463F;
}

.games__ribbon_small {
  top: 20px;
  right: 0px;
  padding: 5px 16px 5px 5px;
  height: 24px;
}

.games__ribbon_small:after {
  border-top: 12px solid #F8463F;
  border-bottom: 12px solid #F8463F;
}

.last-wins {
  padding: 15px 0;
  background: #20263E;
  -webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
}

.last-wins__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.last-wins__title {
  margin-right: 60px;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
}

.last-wins__winners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.last-wins__winner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.last-wins__winner-img {
  border-radius: 50%;
}

.last-wins__winner-img-link {
  margin-right: 8px;
  border-radius: 50%;
}

.last-wins__winner-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.last-wins__winner-name {
  color: #fff;
  font-size: 12px;
}

.last-wins__winner-game {
  color: #87E389;
  font-size: 12px;
  text-decoration: underline;
}

.last-wins__winner-cash {
  margin-top: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.promo {
  padding-top: 50px;
}

.promo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__title {
  margin-bottom: 14px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

.top-game {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 585px;
          flex: 0 1 585px;
}

.top-game__content {
  position: relative;
}

.top-game__img {
  position: relative;
  width: 100%;
  height: 100%;
}

.top-game__promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 59%;
  align-items: center;
}

.top-game__info {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  color: #fff;
  text-align: center;
}

.top-game__link {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  color: #fff;
  text-decoration: underline;
}

.top-game__btn {
  margin-bottom: 18px;
}

.site-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 355px;
          flex: 1 0 355px;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  padding: 53px 0 53px 54px;
  background: #20263E;
  -webkit-box-shadow: inset 0px 0px 24px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0px 0px 24px rgba(0, 0, 0, 0.35);
}

.site-stats__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.site-stats__item:not(:last-child):after {
  content: '';
  display: block;
  position: absolute;
  bottom: -17px;
  width: 265px;
  border: 1px solid #282F4B;
}

.site-stats__img {
  width: 75px;
}

.site-stats__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
}

.site-stats__number {
  line-height: 1em;
  height: 45px;
  font-weight: 700;
  font-size: 50px;
  color: #87E389;
}

.site-stats__about {
  font-weight: bold;
  font-size: 15px;
  color: #fff;
}

.biggest-wins {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 535px;
          flex: 1 1 535px;
  text-align: center;
  border-collapse: collapse;
}

.biggest-wins__tr {
  height: 40px;
}

.biggest-wins__tr:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 17, 37, 0.5)), color-stop(23.58%, rgba(26, 33, 51, 0)));
  background-image: -o-linear-gradient(top, rgba(10, 17, 37, 0.5) 0%, rgba(26, 33, 51, 0) 23.58%);
  background-image: linear-gradient(180deg, rgba(10, 17, 37, 0.5) 0%, rgba(26, 33, 51, 0) 23.58%);
}

.biggest-wins__tr_uneven {
  background-color: #222C42;
}

.biggest-wins__tr_even {
  background-color: #182237;
}

.biggest-wins__th {
  width: 33%;
  font-weight: 500;
  font-size: 14px;
  color: #8C91BA;
}

.biggest-wins__td-player {
  font-size: 14px;
  color: #fff;
}

.biggest-wins__link {
  font-size: 14px;
  color: #fff;
  text-decoration: underline;
}

.biggest-wins__td-points {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}

.payments {
  padding: 50px 0 50px;
  text-align: center;
}

.payments__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -50px;
}

.payments__img {
  margin-top: 50px;
  margin-left: 50px;
}

.footer {
  background-color: #121423;
  -webkit-box-shadow: inset 0px 4px 34px rgba(0, 0, 0, 0.45);
          box-shadow: inset 0px 4px 34px rgba(0, 0, 0, 0.45);
  padding: 35px 0 50px 0;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 44px;
}

.footer__emblems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 37px;
}

.footer__emblem {
  margin-left: 16px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__links-title {
  margin: 20px 65px 25px 0;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}

.footer__link {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #32448c;
}

.footer__link-wrapper:not(:last-child) {
  margin-bottom: 9px;
}

.footer__promo-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 412px;
          flex: 0 1 412px;
  margin-top: 20px;
}

.footer__promo-info-title {
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.1em;
  color: #fff;
}

.footer__promo-info-text {
  font-weight: normal;
  font-size: 15px;
  line-height: 1.2em;
  color: #fff;
}

.footer__promo-radio-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 9px;
}

.footer__promo-radio-btns-wrapper {
  position: relative;
  margin-right: 20px;
}

.footer__promo-radio-btn {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 9px;
  height: 9px;
}

.footer__promo-radio-btn:checked + label::before {
  background-color: #32448c;
}

.footer__promo-radio-btn-label {
  height: 9px;
}

.footer__promo-radio-btn-label::before {
  content: '';
  display: inline-block;
  top: -4px;
  width: 9px;
  height: 9px;
  background: #172146;
  border-radius: 50%;
}

.footer__smalltext {
  margin: 30px auto 0;
  max-width: 895px;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}

.footer__smalltext-link {
  color: #04D0AE;
}

.footer__promo-info-wrapper:nth-child(2),
.footer__promo-info-wrapper:nth-child(3),
.footer__promo-info-wrapper:nth-child(4),
.footer__promo-info-wrapper:nth-child(5),
.footer__promo-info-wrapper:nth-child(6) {
  display: none;
}

.merchants {
  padding-bottom: 35px;
  border-bottom: 2px solid #172146;
}

.merchants__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -50px;
}

.merchants__img {
  margin-top: 35px;
  margin-left: 50px;
}

.floating-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 50px;
  bottom: 200px;
}

.floating-panel__btn {
  width: 48px;
  height: 48px;
  background-color: #32448C;
  border-radius: 50%;
}

.floating-panel__btn:not(:first-child) {
  margin-top: 9px;
}

.floating-arrow {
  position: fixed;
  bottom: 100px;
  right: 110px;
  background-color: transparent;
}

.webp .screen2{ background-image: url(../img/crystals.webp); }

.webp .screen2__container{ background-image: url(../img/crystals1.webp); }