.categories {
  background-color: $background-dark;

  &__container {
    display: grid;
    grid-template-columns: auto minmax(min-content, 30%);
    align-items: center;

    padding: 15px 0;
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
    column-gap: 20px;
    row-gap: 15px;
    align-items: baseline;

    & > li:last-child {
      grid-column: -1 / -2;
    }
  }

  &__category {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: end;
    white-space: nowrap;

    &:hover > .categories__category-text {
      color: #87e389;
      text-shadow: 1px 1px 2px #87e389;
    }

    &-icon {
      margin-right: 12px;
    }

    &-text {
      font-family: Roboto;
      font-weight: 500;
      font-size: 14px;

      color: #ffffff;

    @extend %text-overflow;

      transition: $transition;
    }
  }

  &__select {
    padding-right: 15px;
    height: 24px;

    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;

    appearance: none;
    background-color: $background-dark;
    background-image: url('/img/select-arrow-categories.svg');
    background-repeat: no-repeat;
    background-position: top 10px right 0;

    transition: $transition;

    &:hover {
      color: #87e389;
      text-shadow: 1px 1px 2px #87e389;
    }
  }

  &__search {
    margin-left: 47px;
    position: relative;

    max-width: 390px;
    min-width: 220px;

    &-input {
      padding-left: 9px;
      height: 31px;
      width: 100%;

      background-color: transparent;

      border: 1px solid #898989;
      border-radius: 15px;

      font-size: 14px;
      font-weight: normal;
      color: #fff;

      &::placeholder {
        font-weight: normal;
        font-size: 14px;

        color: #fff;
      }
    }

    &-btn {
      position: absolute;
      top: 6px;
      right: 16px;

      background-color: transparent;
    }
  }
}

@media (max-width: 767px) {
  .categories__container {
    grid-template-columns: 1fr;
  }
  .categories__search {
    display: none;
  }
}
