.top-game {
  width: 585px;

  &__content {
    position: relative;
    width: 100%;
    padding-top: 61.5%;
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }

  &__promo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-items: center;

    position: absolute;
    bottom: 0;
    left: 20%;

    width: 59%;
  }

  &__info {
    font-weight: normal;
    font-size: 10px;
    line-height: 19px;
    color: #fff;

    text-align: center;
  }

  &__link {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    color: #fff;

    text-decoration: underline;

    transition: $transition;

    &:hover {
      color: #87e389;
      text-shadow: 1px 1px 2px #87e389;
      text-decoration: underline;
    }
  }

  &__btn {
    margin-bottom: 18px;
    white-space: nowrap;
    width: 142px;
  }
}

@media (max-width: 614px) {
  .top-game {
    width: 100%;
  }
  .top-game__info, 
  .top-game__link {
    font-size: small-big-size(14, 18, 320, 615);
    line-height: small-big-size(15, 19, 320, 615);
    text-shadow: 1px 1px 2px red;
  }
}
