.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 30px;

  border-radius: 20px;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1em;

  &__text {
    margin-left: 8px;
  }

  &_color_green {
    background: #87E389;
    color: #000000;
  }

  &_color_transparent {
    border: 1px solid #FFFFFF;
    background: transparent;
    color: #FFFFFF;
  }
}