.floating-arrow {
  position: fixed;
  bottom: 100px;
  right: 110px;

  padding: 10px;

  background-color: transparent;
  border-radius: 50%;

  transition: $transition;

  &:hover {
    box-shadow: inset 0 0 15px #87E389;
  }
}

@media (max-width: 425px) {
  .floating-arrow {
    right: 25px;
  }
}

@media (max-height: 425px) {
  .floating-arrow {
    bottom: 30px;
  }
}
