.logo {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;

  &__text {
    margin-left: 5px;

    white-space: nowrap;

    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;

    &_size {
      &_small {
        font-size: 20px;
      }

      &_big {
        font-size: 30px;
      }
    }
  }

  &__img {
    &_size {
      &_small {
        width: 40px;
      }
      &_big {
        width: 50px;
      }
    }
  }
}

@media (max-width: 479px) {
  .logo__img_size_small {
    width: 30px;
  }

  .logo__text_size_small {
    font-size: 16px;
  }
}