.providers {
  background-color: $background-dark;

  %elem-style {
    margin-top: 15px;
    margin-left: 15px;

    padding: 5px 17px;

    border-radius: 13px;

    font-weight: normal;
    font-size: 13px;

    transition: $transition;
    white-space: nowrap;

    &:hover {
      border-color: #87e389;

      & > a {
        color: #87e389;
        text-shadow: 1px 1px 2px #87e389;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 17px 0;

    margin-left: -15px;
    margin-top: -15px;
    width: 100%;
  }

  &__link {
    color: #8187ad;
    transition: $transition;

    &-all {
      color: #fff;
      transition: $transition;
    }
  }

  &__item {
    @extend %elem-style;

    border: 1px solid #282f4b;

    &-all {
      @extend %elem-style;

      border: 1px solid #d73649;
    }

    &-select {
      margin-left: auto;
    }
  }

  &__select {
    @extend %elem-style;

    width: 83px;

    border: 1px solid #ffffff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.28);

    appearance: none;
    background-color: $background-dark;
    background-image: url('/img/select-arrow-categories.svg');
    background-repeat: no-repeat;
    background-position: top 10px right 11px;

    font-family: Roboto;
    color: #fff;
    line-height: 1em;
  }
}
