.biggest-wins {
  flex: 1 1 535px;
  text-align: center;
  border-collapse: collapse;

  margin-top: 30px;

  & td,
  & th {
    padding: 10px;
  }

  &__tr {
    &:nth-child(2) {
      background-image: linear-gradient(180deg, rgba(10, 17, 37, 0.5) 0%, rgba(26, 33, 51, 0) 23.58%);
    }

    &_uneven {
      background-color: #222c42;
    }

    &_even {
      background-color: #182237;
    }
  }

  &__th {
    width: 33%;
    font-weight: 500;
    font-size: 14px;
    color: #8c91ba;
  }

  &__td-player {
    @extend %text-overflow;

    max-width: 230px;

    font-size: 14px;
    color: #fff;
  }

  &__td-game {
    max-width: 230px;
    color: #fff;

    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__link {
    font-size: 14px;
    line-height: 1.3em;
    color: #fff;
    text-decoration: underline;

    transition: $transition;

    &:hover {
      color: #87e389;
      text-shadow: 1px 1px 2px #87e389;
      text-decoration: underline;
    }
  }

  &__td-points {
    @extend %text-overflow;

    max-width: 230px;

    font-weight: bold;
    font-size: 14px;
    color: #fff;
  }
}

@media (max-width: 719px) {
  .biggest-wins {
    display: none;
  }
}
