$left-about: 70px;

.frame {
  margin-left: 160px;
  position: relative;

  box-shadow: -50px 0px 50px #091024;

  &__img {
    filter: brightness(80%);
  }

  &__gradient {
    position: absolute;
    width: 207px;
    height: 100%;
    background: linear-gradient(90deg, #000000 -84.31%, rgba(0, 0, 0, 0) 81.86%);
    top: 0;
  }
  
  &__about {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: start;
    width: 975px;
    top: 60px;
    left: $left-about;
  }

  &__arrows-wrapper {
    display: flex;
    margin-bottom: 21px;
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 8px;

    width: 33px;
    height: 33px;

    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #595959;

    transition: $transition;

    &:hover {
      border-color: #87e389;

      &>svg {
        fill: #87e389;
      }
    }

    &>svg {
      fill: white;

      transition: $transition;
    }
  }

  &__text {
    margin-bottom: 21px;

    font-size: 14px;
    color: #fff;

    &_green {
      font-weight: 500;
      text-transform: uppercase;
      color: #87E389;
    }
  }

  &__bonus {
    margin-bottom: 30px;

    position: relative;

    font-weight: bold;
    font-size: 36px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;

    &::after {
      content: '';
      display: block;

      position: absolute;
      bottom: -13px;

      width: 94px;

      border: 1px solid #fff;
    }
  }

  &__btn {
    margin-right: auto;
  }

  &__slider {
    display: flex;
    margin-top: 135px;

    &-line {
      width: 24.175%;
      height: 5px;
      position: relative;
      
      background: rgba(72, 80, 143, 0.7);
      border-radius: 50px;

      &:not(:first-child) {
        margin-left: 1.1%;
      }

      &-timer {
        position: absolute;

        width: 0;
        height: 5px;

        border-radius: 5px;
        background-color: #87E389;
      }
    }
  }
}

#frame-timer1 {
  animation: timer 10s linear 1s;

}

@keyframes timer {
  100% {
    width: 100%;
  }
}

@media (max-width: 1950px) {
  .frame {
    position: absolute;
    margin: 0;

    // overflow: hidden;

    width: 65%;

    top: 0;
    bottom: 0;
    right: 0;

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__about {
      width: calc(920px + 65 * ((100vw - 1550px) / (1950 - 1550)));
    }
  }
}

@media (min-width: 1024px) and (max-width: 1549px) {
  .frame__about {
    width: calc(570px + 340 * ((100vw - 1024px) / (1549 - 1024)));
    
  }
}

@media (max-width: 1023px) {
  .frame {
    position: relative;
    width: 100%;

    &__about {
      width: calc(100vw - 100px);
    }
  }
}

@media (max-width: 767px) {
  .frame__about {
    left: 15px;
    width: calc(100vw - 45px);
  }
}