@import 'reset';
@import 'fonts';

$background-dark: #121423;
$background-light: linear-gradient(289.68deg, #121726 57.75%, #222C42 90.78%);

body {
  font-family: Roboto, Arial, sans-serif;
}

.main {
  background-image: $background-light;
  background-repeat: no-repeat;
  background-size: contain; 
}



@import '../blocks/container/container.scss';
@import '../blocks/logo/logo.scss';
@import '../blocks/btn/btn.scss';
@import '../blocks/header/header.scss';
@import '../blocks/screen2/screen2.scss';
@import '../blocks/auth/auth.scss';
@import '../blocks/frame/frame.scss';
@import '../blocks/categories/categories.scss';
@import '../blocks/providers/providers.scss';
@import '../blocks/games/games.scss';
@import '../blocks/last-wins/last-wins.scss';
@import '../blocks/promo/promo.scss';
@import '../blocks/top-game/top-game.scss';
@import '../blocks/site-stats/site-stats.scss';
@import '../blocks/biggest-wins/biggest-wins.scss';
@import '../blocks/payments/payments.scss';