.header {
  background-color: $background-dark;
  padding-top: 16px;
  padding-bottom: 16px;

  position: fixed;
  top: 0;

  width: 100%;

  z-index: 999;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    align-items: center;
  }

  &__main-menu {
    display: grid;
    grid-template-columns: auto auto;
  }

  &__search {
    &-btn {
      background-color: transparent;

      &:hover > .header__search-svg {
        transform: scale(1.3);
      }
    }

    &-svg {
      transition: $transition;
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-left: 43px;
  }

  &__link {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;

    color: #ffffff;

    transition: $transition;

    &:hover {
      color: #87e389;
      text-shadow: 1px 1px 2px #87e389;
    }

    &:not(:first-child) {
      margin-left: 25px;
    }
  }

  &__btns {
    display: grid;
    grid-template-columns: auto auto;

    margin-left: -15px;
  }

  &__btn {
    margin-left: 15px;

    &:last-child {
      display: none;
    }
  }
}

@media (max-width: 880px) {
  .header__search-btn, .header__nav {
    display: none;
  }

  .header__btns > .btn_color_green {
    display: none;
  }
}

@media (max-width: 480px) {
  .header__btn {
    display: none;

    &:last-child {
      display: block;
    }
  }
}