.header {
  background-color: $background-dark;
  padding: 16px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__main-menu {
    display: flex;
  }

  &__search-btn {
    background-color: transparent;
  }

  &__nav {
    display: flex;
    margin-left: 43px;
  }

  &__link {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;

    color: #ffffff;

    &:not(:first-child) {
      margin-left: 25px;
    }
  }

  &__btns {
    display: flex;
  }

  &__btn:last-child {
    margin-left: 15px;
  }
}
